#frm{
	display: block;
	margin: 0px auto;
	width: 50%;
}

label, input{
	/* display: block;
	float: left; */
	display: inline-block;
}
label{
	width: 30%;
	text-align: right;
}
input{
	width: 50%;
	text-align: left;
	margin-left: 10px;
}

input[type="text"] {
	background-color: lightcyan;
}
[type="password"] {
	background-color: oldlace;
}
div{
	margin-bottem: 30px;
}
#bfr{
	/* clear: left; */
	text-align: center;
	margin-top: 30px;
}

div{
	padding-top: 10px;
}

button{
	width: 200px;
	height: 30px;
	fort-size: 16pt;
}

button[type="button"] {
	background-color: green;
}
button[type="submit"] {
	background-color: orange;
}