.content{
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.d1{
	display: inline-block;
	width: 400px;
	height: 400px;
	border: 1px solid gray;
	box-shadow: 50px 30px 50px 10px #e91e63;
}
